$width_site:1140px;
$width_center:calc(50% - $width_site / 2);
$heigth_center: $width_center;
$color_box:#222222;
$main_color: #F16D7F;
$promo_color: #F1E4E6;
$white_color: #FFFFFF;
$text_color:#9F9F9F;
$width_promo: 800px;
$pad_with:calc(50% - $width_promo);
$pad_hei:$pad_with;