@import 'vars';
@import 'mixins';
@import 'includes';
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

// summary::webkit-details-marker {
summary::webkit-details-marker {
    display: none;
}

summary {
    display: block;
}

.center {
    padding-left: $width_center;
    padding-right: $heigth_center;
}

.header {
    @include space();
    min-height: 75px;
    max-width: 1600px;
    background: $color_box;
    flex-direction: row;
    &__left {
        @include flex(baseline);
    }
    &__rigth {
        @include flex(center);
    }
}

.label {
    cursor: pointer;
}

#header__check {
    display: none;
}

#header__check:checked~.menu {
    display: none;
}

.menu {
    position: absolute;
    top: 75px;
    right: 20%;
    z-index: 2;
    transition: right 1s;
    background: #fff;
    padding: 32px 74px 32px 32px;
    &__heading {
        color: #000;
        font-size: 14px;
        font-family: Lato;
        font-weight: 700;
    }
    &__title {
        display: block;
        margin: 24px 0 12px 0;
        color: #F16D7F;
        font-size: 14px;
        font-family: Lato;
    }
    &__list {
        padding-left: 20px;
        list-style: none;
        display: grid;
        gap: 11px;
        & a {
            color: #6F6E6E;
            font-size: 14px;
            font-family: Lato;
        }
    }
}

.up {
    background-color: #F8F3F4;
    position: relative;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 148px;
        & h1 {
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
            color: #F16D7F;
        }
    }
}

.registration {
    display: flex;
    justify-content: center;
    gap: 128px;
    padding-top: 64px;
    padding-bottom: 96px;
    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 20.5px;
    }
    &__title {
        color: #222;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    &__input {
        width: 360px;
        padding: 13px 0 16px 17px;
        border: 1px solid #A4A4A4;
        stroke-width: 3px;
        stroke: #A4A4A4;
    }
    &__checkboxes {
        margin-top: 31px;
        margin-bottom: 33px;
        display: flex;
        gap: 20px;
        color: #000;
        font-family: Lato;
        font-size: 11px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        display: inline-flex;
        align-items: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
    &__text {
        margin-top: 15px;
        margin-bottom: 39px;
        color: #B1B1B1;
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    &__button {
        padding: 16px 0;
        width: 167px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: #FFF;
        background-color: #F16D7F;
        border: none;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
    }
    &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: #000;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    &__column {
        list-style-type: none;
    }
    &__li {
        padding-bottom: 16px;
        display: flex;
        gap: 28px;
        &::before {
            content: url(../img/Vector.svg);
        }
    }
}

.subscription {
    min-height: 448px;
    background: rgba(244, 244, 244, 0.7);
    background-size: cover;
    background-position: center;
    background-image: url(../img/fon.svg);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 223.26px;
    &__staff {
        text-align: center;
        &__figure-text {
            margin-top: 30px;
            font-family: "Lato";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #222224;
        }
    }
    &__input-email {
        display: grid;
        justify-items: center;
        &__text {
            font-family: "Lato";
            font-style: normal;
            font-size: 18px;
            line-height: 167.2%;
            text-align: center;
            color: #222224;
            margin-bottom: 32px;
        }
        &__title {
            font-weight: 600;
            font-size: 24px;
        }
        &__submit {
            display: flex;
            &__subscribe {
                padding: 0 20px 0 20px;
                height: 49px;
                border-radius: 30px 0 0 30px;
                border: none;
                width: 256px;
                background: #E1E1E1;
                font-family: "Lato";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                display: flex;
                color: #222224;
                opacity: 0.67;
            }
            &__btn {
                border-radius: 0 30px 30px 0;
                border: none;
                width: 100px;
                background: #F16D7F;
                font-family: "Lato";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                display: flex;
                text-align: center;
                color: #FFFFFF;
                justify-content: center;
                cursor: pointer;
            }
        }
    }
}

.footer {
    background: #222222;
    min-height: 79px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &__text {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
    }
    &__items {
        display: flex;
        gap: 7.29px;
        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            background-color: white;
        }
    }
}